.header h1,h2{
text-align:center;
width:100%;
margin: 0 0;
padding: 0;
background: #fff;
}

body{
background: #FFFFFF;
text-decoration:none;
}
.header h1{
font-style: italic;
color:#0097A7;
font-size: 2.5em;
font-weight:bold;
}

.sign_container h1,.main_container h1{
color:#546E7A;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.main_container table{
margin-top: 30px;
margin-left:40px;
border-collapse: collapse;
text-decoration:none;
text-align:center;
border: 1px solid white;
}
.sign_container table {
margin-top: 30px;
border: 1px solid #ebebeb;
padding:15px;
text-decoration:none;
text-align:center;

}
.login table {
margin-top: 30px;
border: 1px solid #ebebeb;

text-decoration:none;
text-align:center;

}


.main_container table,.main_container th,.main_container td {
    padding: 15px;
    text-align: center;
	border-collapse: collapse;
border: 1px solid white;
}
#email,#password,#username{
color: red;

}

input[type=submit] ,input[type=button]{
    background-color: #0097A7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:bold;
}

input[type=submit]:hover,input[type=button]:hover{
    background-color: #fff; 
    border: none;
    color: #0097A7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-weight:bold;
    font-size: 16px;
}

input[type=text] ,input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=password] :focus {
    border-color:#333;
}

